@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{font-family: 'Poppins', sans-serif;}
body.black{background-color: black;color:white;}
body.black button{gap: 4px;transform:scale(1.2);background-color: white;color:black;border: 1px solid transparent;border-radius:25px;outline:none;transition: .1s;}
body.black button:active{background-color: rgba(0,0,0,0.8);transform: scale(0.8);color:white;}
div.center > *{text-align:center;}
.rainbowFlash{animation: rainbowFlash 4s infinite;}
@keyframes rainbowFlash{
    0%{background-color:red;}
    10%{background-color:orange;}
    20%{background-color: yellow;}
    30%{background-color: blue;}
    40%{background-color: purple;}
    50%{background-color: green;}
    60%{background-color: red;}
    70%{background-color: orange;}
    80%{background-color:yellow}
    90%{background-color:blue;}
}
.rainbowFlash2{animation: rainbowFlash2 4s;animation-iteration-count: 2;}
@keyframes rainbowFlash2{
    0%{color:red;}
    10%{color:orange;}
    20%{color: yellow;opacity: 0.5;}
    30%{color: blue;opacity:1;}
    40%{color: purple;}
    50%{color: green;}
    60%{color: red;}
    70%{color: orange;}
    80%{color:yellow}
    90%{color:blue;}
}
.fade{animation: fade 1s;}
@keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
div.header2{position:absolute;left:50%;top:20%;transform:translate(-50%, -50%);}
img.spin{animation: spin 5s infinite;}
@keyframes spin{
    100%{transform:rotateZ(360deg);}
}